#
# C crap
#

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

#
# java crap
#

# java byte code
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#
# Project specific things
#

# host-tests executable
stdlib-test

# fat executables
tools/fat/*
!tools/fat/*.c

# executable things
*.bin

# Bochs settings
#bochsout.txt

# tos images
tos.img
image/disk_image

# CLion things
CMakeLists.txt
.idea/
